html {
    --bg-primary: #f0f0ef;
    --bg-dark: #1c1b1b;
}

body {
    background-color: var(--bg-primary);
    border-top: 13px solid var(--bg-dark);
}

.bg-dark {
    background-color: var(--bg-dark);
    color: #fff;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Space Grotesk', sans-serif;
    font-weight: 700;
}

p,
ul,
li {
    font-family: 'ibm plex sans', sans-serif;
    @apply leading-7;
}

.page-width {
    @apply w-9/12 max-w-screen-md;
}

.nuxt-content h1,
.nuxt-content h2,
.nuxt-content h3,
.nuxt-content h4,
.nuxt-content h5,
.nuxt-content h6 {
    @apply mt-8 mb-2;
}

p code {
    @apply font-mono inline-block text-gray-900 bg-gray-200 px-2 rounded-md;
}

pre, code, code .token {
    @apply font-mono;
}

pre {
    @apply border border-gray-300 rounded-md;
}

.nuxt-content ul {
    @apply pl-4 list-disc;
}

.nuxt-content p {
    @apply my-3;
}

.nuxt-content a {
  @apply underline text-gray-700;
}